.bnpContainer {
  padding-left: 2.5%;
  padding-top: 2%;
  height: 80%;
  width: 97.5%;
  background-color: rgba(94, 93, 93, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bnpContainer h2 {
  width: 100%;
  font-size: 40px;
  height: 50px;
  margin-bottom: 25px;
  justify-content: center;
}

.elementContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.chart {
  width: 67%;
}
.selectorContainer {
  top: 0;
  width: 23%;
}
