.queryBarContainer {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;

  border: 3px;
  border-style: solid;
  color: white;
  background-color: rgba(100, 99, 99, 0.6);
  display: flex;
  justify-content: space-around;

  width: calc(100% - 16px);
  flex-wrap: wrap;
}

.inputContainer {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin-left: 8px;
}

.submitButton {
  vertical-align: middle;
  width: 80px;
  height: 30px;

  border-style: solid;
  background-color: white;
  color: black;
  border-radius: 20%;
}

.queryBarContainer select {
  height: 25px;
  align-self: center;
}

.queryBarContainer input {
  margin-right: 10px;
}

.queryBarContainer label {
  display: block;
}

.bigInput {
  align-self: center;
  height: 25px;
  width: 100%;
  min-width: 170px;
}

.smallInput {
  align-self: center;
  height: 25px;
  min-width: 80px;
  width: 90%;
  margin-right: 8px;
}
