.navContainer {
  color: white;
}

.navContainer h1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 4rem;
}

.navContainer ul {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navContainer li {
  font-weight: 600;
  transition: 500ms;
  color: inherit;
}

.navContainer li:hover {
  transform: scale(1.15);
  transition: 500ms;
}

.position {
  font-size: "17px";
}

li a:global {
  color: white;
}

h1 a:global {
  font-family: "Kaushan Script", serif;
  color: white;
}

li a:global(.active) {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(255, 255, 255), 2px 2px 15px rgb(194, 185, 185);
}

@media screen and (max-width: 600px) {
  .navContainer h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 30px;
  }
  .navContainer ul {
    font-size: 1rem;
  }
}

.helpButton {
  position: absolute;
  right: 30px;
  top: 10px;
  background-color: rgb(100, 100, 100, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: inset 2px 2px 2px rgb(53, 50, 50);
  z-index: 5;
}

.helpButton:hover {
  transform: scale(1.05);
}

.helpButton:active {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .navContainer ul {
    font-size: 1.2rem;
  }
}
