.selectContainer select:hover,
button:hover {
  transform: scale(1.05);
}

.pullDownButton {
  margin-left: 20px;
  width: 300px;
  height: 35px;
  text-align: center;
  border: none;
  border-radius: 25px;
  outline: none;
  align-items: center;
}
