.pageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/homepage.jpg");
  background-size: cover;
  resize: both;
  overflow: scroll;
  color: white;
}
.position {
  text-align: end;
  margin-right: 50px;
  margin-left: auto;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mapContainer {
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  margin-left: auto;
  width: 800px;
  height: 500px;
}

@media screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    font-size: 0.8em;
    min-width: 320px;
    width: 100%;
  }

  .mapContainer {
    width: 100%;
    margin: 0;
  }
}
