.pageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("./src/assets/pexels-pixabay-47044.jpg");
  background-size: cover;
  resize: both;
  overflow: scroll;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 380px);
}

@media screen and (max-width: 600px) {
  .sectionContainer {
    flex-direction: column;
    font-size: 1em;
    width: 100%;
  }
  .resultContainer {
    display: flex;
    flex-direction: column;
    min-width: 95vw;
    max-width: 100vw;
  }
}
