.pageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/godebusser.jpg");
  background-size: cover;
  resize: both;
  overflow: scroll;
}

.pageContainer p {
  color: white;
  font-size: 18px;
}

.upperContainer {
  color: white;
  display: flex;
  flex-direction: row;
}

.directions {
  margin-top: 50px;
  width: 50%;
}

.mapContainer {
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  margin-left: auto;
  width: 800px;
  height: 500px;
}

.results {
  display: flex;
  flex-direction: row;
  width: 100%;
}
