.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

.selectContainer {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.selectContainer li {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  height: 27px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}

.selectContainer li:hover {
  background-color: rgb(53, 50, 50);
}

.selectContainer label {
  width: 100%;
}

.firstItem {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: black;
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  z-index: 3;
}

.selectContainer p,
span,
label {
  font-family: inherit;
  margin: 5px;
  cursor: arrow;
}

.selectContainer button {
  border: 1px;
  border-style: dashed;
  border-color: rgb(112, 110, 110);
  margin-right: 10px;
}

.selectContainer .wrapper::-webkit-scrollbar {
  background-color: black;
  color: white;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #feffff;
  border: 1px solid rgb(193, 193, 193);
}
