.selectContainer option,
select,
button {
  background-color: black;
}

.selectContainer select,
button,
label {
  margin-left: 20px;
  width: 300px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 25px;
  outline: none;
  align-items: center;
}

select::-webkit-scrollbar {
  background-color: black;
  color: white;
}
select::-webkit-scrollbar-thumb {
  background-color: #feffff;
  border: 1px solid rgb(193, 193, 193);
}

.selectContainer button {
  cursor: pointer;
}

.selectContainer select:hover,
button:hover {
  transform: scale(1.05);
}
