.wrapper {
  display: flex;
  vertical-align: middle;
  justify-content: center;

  width: 100%;
  height: 65vh;
}

.chartContainer {
  width: 95%;
  aspect-ratio: 1/3;
  font-size: 1.7rem;
}

.chartContainer Label {
  color: green;
}

@media screen and (max-width: 600px) {
  .chartContainer {
    width: 95vw;
    aspect-ratio: 1/2.5;
  }
}
