.icon {
  width: 60px;
  height: 60px;
  filter: invert(100%);
}

.tempStatus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(100, 99, 99, 0.6);
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .icon .tempStatus {
    font-size: 0.75rem;
  }
}
